<!-- <div class="attscore row">
<div class="col-sm-1">hello
    </div>
    <div class="col-sm-11">
<circle-progress
    [percent]="82"
    [radius]="10"
    [outerStrokeWidth]="1"
    [innerStrokeWidth]="0"
    [animation]="true"
    [animationDuration]="300"
    [space]="5"
    [showSubtitle]= "false"
    [showUnits]= "false"
    [unitsFontSize]= "15"
    [titleFontSize]= "10"
    [startFromZero]="false"
    [clockwise]= "false">
</circle-progress>
</div>
</div> -->





<!-- <div style="text-align:center">
    <h1>Click one of the two buttons</h1>
    <button (click)="method1Call()">Method 1</button>
    <button (click)="method2Call()">Method 1</button>
</div> -->





<router-outlet></router-outlet>