
.sms{
    background-image:url(../../../assets/studentmanagement.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 75% 50%;
    
}

  .a-center{
      text-align: center;
  }

  .rotate{
    text-align: center;
    position: relative;
  /* animation: mymove infinite;
  animation-duration: 4s;
  animation-delay: 2s; */
  }
  @keyframes mymove {
    0%   { left:0px; top:0px;}
    50%  { left:50%; top:0px;}
    100%  { left:-50%; top:0px;}
    /* 50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;} */
  }
  .loginform{
      height:100%;
      width:100%;
  }
  .loginbtn{
    margin-top: 1%;
    align-items: center;
    background-color: gray;
    font: black;
  }