<h1>Register</h1>

<div class="container">
    <p class="desc">Please fill in this form to create an account.</p>
    <hr>

    <form>
        <div class="form-group">
       
        <label><b>Name</b></label>
        
        <input type="text" class="form-control">
   
        <label><b>User Type</b></label>
        
        <input type="text" class="form-control">
    
    
        <label><b>Email Id</b></label>
        
        <input type="text" class="form-control">
        <br>
    </div>
    </form>
</div>
