
.card{
    
    max-width:500px;
    max-height:500px;
    padding-left:10px;
}
#slider .carousel-item {
    height: 500px;
  }
  
  .carousel-caption {
    font-size: 18px;
  }

  .car{
    height:510px;
  }
  
  .carousel-item>img {
    width: 100%
  }

  .outerdiv{
    /* margin-left: 3%;
    margin-right: 3%; */
    background-color: #F9F9F9;
    height: 100%;
    padding-bottom: 2%
}
  
.connect {
    /* background-image: url('./../../../assets/connect.png'); */
    margin-top: 4%;
    width:100%;
    height: 15em;
    background-repeat: no-repeat; 
}

.search-background{
    background-color: #1C66A3;
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -14%;  
    text-align: center;
}

.title{
    text-align: center;
    color: #F9F9F9;
    font-size: 20px;
    font-family: SF-UI-Display-Medium;
    padding-top: 1em;
}

.search-area{
    text-align: left;
    color: white;
 
    
}
.search-description{
    padding-left: 19%;  
    font-family: SF-UI-Display-Regular;
    font-size: 14px;
    opacity: 0.7;
    padding-bottom:1%;
}

.text-box{
    /* margin-left:5%; */
    width:36em;

}


.row{
    width:100%;
}

.search-btn{
    color:white;
    border-color: white;
    height: 2.6em;
    width: 8.75em;
    margin-left:1.5%;
    font-family: SF-UI-Display-Regular;
    font-size: 1em;   
}
.saved-profiles{
    background-color: #FFFFFF ;
    margin-top: 4%;
    margin-left: 5%;
    margin-right:5%;
    height: 100px;
    margin-bottom: 2%;
    box-shadow: 0px 3px 10px rgb(224, 222, 222);
}

.people{
    background-color: white;
    margin-top: 4%;
    margin-left: 5%;
    margin-right:5%;
    height: 100px;
    margin-bottom: 2%;
    border-bottom:1px solid rgb(240, 235, 235);
    box-shadow: 0px 3px 10px rgb(224, 222, 222);
}

.advancesearch{
    text-align: center;
    font-family: SF-UI-Display-Regular;
    color:white;
    padding-top:1em;
    padding-left:1em;
    padding-right:1em;
    display: inline-block;
    opacity: 0.7;
}
.advancesearchForm{
    font-family: SF-UI-Display-Regular;
    color:black;
    
    /* background-color: white; */
    padding-top:0.1em;
    padding-left:3em;
    padding-right:3em;
    padding-bottom:2em;
    width: 100%;
    height: auto;
    display: inline-block;
    color:#8c8ca5;

}
.searchbox{
    background-color:white;
    padding-bottom:1em;
    padding-right: 2em;
    padding-left: 3em;
    border-radius: 4px;
}
.ads{
    color:#1C222D;
    font-family: SF-UI-Display-Regular;
    font-size:18px;
    padding-top:1em;
    padding-bottom:0.5em;
}
.textcolor{
    color: gray;
    font-family:SF-UI-Display-Regular;
    text-align: left;
    padding-bottom:3px;
    font-size: 12px;
  }
.caret-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    /* position:relative;
    bottom:5px; */

    
}
.fa-angle-down{
    font:red;
}
.space{
    padding-top: 0.5em;
  }
.advd-search-btn{

    color: #1C66A3;
    /* border-color: white; */
    height: 2.6em;
    width: 8.75em;
    margin-left:1.5%;
    font-family: SF-UI-Display-Regular;
    font-size: 1em;   
    border: 1px solid #1C66A3;
    border-radius: 4px;
    opacity: 0.8;
    box-shadow: 0px 3px 6px #00000029;
    margin-top:17%;
}
  .search{
  
  
    margin-top: 2%;
    font-family: SF-UI-Display-Regular;
    font-size: 1em;
    
    width:8em;
    border: 1px solid #1C66A3;
    border-radius: 4px;
    opacity: 0.8;
    box-shadow: 0px 3px 6px #00000029;
    /* margin-left:2em; */
  }
  .search-but{
    color: #1C66A3;
    background-color: Transparent;
    background-repeat:no-repeat;
    text-align: center;
  }
  .cancel{
    margin-top: 3%;
    font-family: SF-UI-Display-Regular;
    font-size: 1em;
    text-decoration: none;
    color: #1C66A3;
    padding-left:2px;
  }
    
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 20px);
 }

 .saved-profile-head{
    
    font-family: SF-UI-Display-Medium;
    font-size:18px;
    text-align: left;
    color: #212527;
    padding-left: 35px;
    padding-bottom: 3px;
   
 }
 .borderline{
    padding-bottom: 1em;
    margin-left: 1.4em;
    margin-right: 3em;
    border-top:1px solid rgb(240, 235, 235);
    width:70em;
    }
.noprofile{
   
    text-align: left;
    font: SF-UI-Display-Regular;
    letter-spacing: 0;
    color: #11113374;
    opacity: 1;
    margin-top:2.5em;
    font-size:16px;
}
.seemore{
    font-size:12px;
    font: SF-UI-Display-Regular;
    color:#02C0ED;
    text-align: right;
}
.course-heading{
    font-size:16px;
    padding-top:8px;
    font-family: SF-UI-Display-Medium;
    color:#1C66A3
    
    }
.jobtitle{
        font-size:12px;
        color: #000000;
        font-family: SF-UI-Display-Medium;
    
    }
.company{
    color:#111133A5;
    font-family: SF-UI-Display-Regular;
    font-size:12px;
}
.courseCard{
        
        /* width:11em;  */
        width:11em; 
        margin-left: 1.9em;
        border: none;
        display: inline-block;
        align-items: center;
        text-align: center;
        background-color:#F9F9F9;
        
        }
.card-body{
    padding:0%;
    overflow-wrap: break-word;
    }

.img-circle{
    border-radius: 50%;
    height:140px;
    width:140px;
}
.as{
    color:#02A59C;
    font-size:12px;
    font-family:SF-UI-Display-Medium;
  }
  .ppl{
    padding-top:17.5px;
  }
  .k{
      background-color:red;
  }

  

 .card{
     height:200px;
     width:200px;
     background-color:brown;

 }
 .carousel-control-next-icon  .carousel-control-prev-icon{
    color:black;
 }

 

 .carousel-indicators  li {
   border-radius: 50%;
   background-color:#F9F9F9;
   height:13px;
   width:13px;
   box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.5);    

  
 }
 .carousel-indicators .active {
  border-radius: 50%;
  background-color:#02A59C;
  height:13px;
  width:13px;
 
}
  
 #MyCarousel card{
     background-color:green;
 }
 .bg{
     padding-top:10em;
     
 }