@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:url('../../../assets/5C.svg');
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:url('../../../assets/4C.svg');
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration-color:red;
}